.blogs-list{
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.spinner {
  width: 24px;
  animation: loading infinite 3s linear;
}

@keyframes loading{
  from{
    transform: rotateZ(0deg);
  }
  to{
    transform: rotateZ(360deg);
  }
}
.create{
    background-color: aquamarine;
    width: 4%;
    height: 4%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    font-size: 40px;
    
}
.create > a{
    text-decoration: none;
    align-self: center;
    color: black;
}
.blog-image{
    width: 100px;
}
